In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
#missing value
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:5],df.iloc[:,-1],test_size=0.2,random_state=0)

In [8]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

## Aam Zindagi

In [15]:
# Adding simple imputer to fever col
si = SimpleImputer()
x_train_fever = si.fit_transform(X_train[['fever']])
# also the test set data
x_test_fever = si.fit_transform(X_test[['fever']])

x_train_fever.shape

(80, 1)

In [16]:
# adding Ordinal Encding on cough col
oe = OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough = oe.fit_transform(X_train[['cough']])
# also the test set data
x_test_cough = oe.fit_transform(X_test[['cough']])

x_train_cough.shape

(80, 1)

In [18]:
# adding OneHotEncoder on gender and city col
ohe = OneHotEncoder(drop='first',sparse = False)
x_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test set data

x_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

x_train_gender_city.shape

(80, 4)

In [21]:
#Extracting age
x_train_age = X_train.drop(columns=['gender','city','cough',"fever"]).values

# also the test set data
x_test_age = X_test.drop(columns=['gender','city','cough',"fever"]).values

x_train_age.shape

(80, 1)

In [22]:
#concatenate all the col
x_train_transformed = np.concatenate((x_train_age,x_train_fever,x_train_cough,x_train_gender_city),axis=1)

#also the test set data
x_test_transformed = np.concatenate((x_train_age,x_train_fever,x_train_cough,x_train_gender_city),axis=1)

x_train_transformed.shape

(80, 7)

## Mentos Jindagi

In [23]:
from sklearn.compose import ColumnTransformer

In [26]:
transformer = ColumnTransformer(transformers=[
    ('tf1',SimpleImputer(),['fever']),
    ('tf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tf3',OneHotEncoder(drop='first',sparse = False),['gender','city'])
],remainder='passthrough')

In [28]:
transformer.fit_transform(X_train).shape

(80, 7)

In [29]:
transformer.fit_transform(X_test).shape

(20, 7)